<div class="show">
  <h1 class="show_heading">Book Detail</h1>

  <%= flash[:notice] %>
        
  <p>Title:<span><%= @book.title %></span></p>
  <p>Body:<span><%= @book.body %></span></p>
  <p><%= link_to "Edit", edit_book_path(@book.id) %> | <%= link_to "Back", books_path %></p>
</div>